<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon glyphicon-fire">
        </span>
          King Deal
      </a>
      <ul class="nav navbar-nav">
          <!-- <li><a href="/welcome">Home</a></li> -->
          <% if(user.id === -1) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% } else { %>
          <li><a href="/wargame">War</a></li>
          <li><a href="/logout">Logout</a></li>
          <% } %>
      </ul>

  </div>

</div>
</nav>
