<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

      <!-- SOCKET SCRIPTS -->
      <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


  </head>

  <body>
    <section>
      <nav id="nav-bar">
    <h1>CardGamer</h1>
    </nav>
    </section>
    <button class="newwargame">
      <span>
        New War Game
      </span>
    </button>
    <button class="endwargame">
        <span>
          end War Game
        </span>
      </button>
<div class='gametitlesection'></div>

      <section class="wargamecontainer">
      </section>

      <h2>event buttons for testing</h2>
      <!-- <button class="p2connect">
          <span>
            p2 connected
          </span>
        </button> -->
        <button class="p2disconnect">
            <span>
              p2 disconnected
            </span>
          </button>
      <button class="p1draw">
          <span>
            DRAW CARD
          </span>
        </button>
        <!-- <button class="p2draw">
            <span>
              p2 DRAW
            </span>
          </button> -->
          <!-- <button class="p1p2draw">
            <span>
              p1p2 DRAW
            </span>
          </button> -->
          <button class="bothdrawn">
            <span>
              BOTH DRAW
            </span>
          </button>

    <div>
      My score: <p id = 'my-score'>0</p>
      Opponent score: <p id = 'op-score'>0</p>
    </div>
  </body>
  <!-- SOCKET SCRIPTS -->
  <script src="/socket.io/socket.io.js"></script>
</html>
