<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/user-pages.js"></script>

    <!-- EJS Partial Header -->
     <% include ./partials/head %>
  </head>

  <body class="container">
      <% include ./partials/flash %>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <div class="jumbotron" id="welcome-message">
        <h1>Leaderboard</h1>
          <table class = 'table'>
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col"># Wins</th>
                <th scope="col"># Loss</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <% for (let row of results) {%>
              <tr>
                <td scope="row"><%=  row.username %></td>
                <td><%=  row.winCount %></td>
                <td><%=  row.loseCount %></td>
                <td><%=  row.score %></td>
              </tr>
              <% } %>
            </tbody>


      </div>
    </main>
  </body>
</html>
