<!DOCTYPE html>
<html lang="en">
  <head>
    <title>War Game</title>

    <!-- EJS Partial Header -->
    <% include ./partials/head %>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

      <!-- SOCKET SCRIPTS -->
      <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/warvisuals.js"></script>


  </head>

  <body class = "container">
      <header>
          <% include ./partials/header %>
        </header>

    <div class = "jumbotron blurred-box">
      <div class = "wargame">
        <section class="wargamecontainer" ></section>
        <div id = drawbox>
            <button class="p1draw"></button>
        </div>
      </div>
      <div id ="scorebox">
        <h4>Game Stats</h4>
          <table>
              <tbody>
                <tr>
                  <td id = boxtitles>OPPONENT: </td>
                  <td><p id = 'op'></p></td>
                </tr>
                <tr>
                  <td id = boxtitles>TURN: </td>
                  <td><p id = 'turn'>1</p></td>
                </tr>
                <tr>
                  <td id = boxtitles>MY SCORE: </td>
                  <td><p id = 'my-score'>0</p></td>
                </tr>
                <tr>
                  <td id = boxtitles>OPPONENT SCORE:</td>
                  <td><p id = 'op-score'>0</p></td>
                </tr>
              </tbody>
            </table>
        </div>
      <!-- <h2>event buttons for testing</h2> -->
      <!-- <button class="newwargame">
          <span>
            New War Game
          </span>
        </button> -->
        <!-- <button class="endwargame">
            <span>
              end War Game
            </span>
          </button>
        <button class="p2disconnect">
            <span>
              p2 disconnected
            </span>
          </button> -->
  </body>
  <!-- SOCKET SCRIPTS -->
  <script src="/socket.io/socket.io.js"></script>
</html>
