body {
  background-color: #EEE;
}
.wargame {
  position: relative;
}

.wargamecontainer, .wargame {
  height: 600px;
  width:600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: url(https://us.123rf.com/450wm/natalt/natalt1202/natalt120200034/12447589-poker-table-felt-background-in-green-color.jpg?ver=6) center;
  background-size: cover;
  border-radius: 0.5em;
}
#scorebox {
  height: 180px;
  width:200px;
  background-color: rgb(184, 184, 184);
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  margin-top: 20px;
}

#middlefield{
  height: 400px;
  position: relative;
}

#cardcontainer {
  background-color: rgba(138, 138, 138, 0.548);
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

#p1hand, #p2hand, .p1draw {
  width: 75px;
  height: 115px;
  margin: auto;
}

#p1card, #p2card, #p1cardimg, #p1carddrawn, #p2carddrawn {
  width: 75px;
  height: auto;
  margin: auto;
  padding: 0;
  border-radius: 0.25em;
}

#p1card, #p2card {
  z-index: 1;
}

#p1carddrawn, #p2carddrawn {
  position: absolute;
  z-index: 3;
}

.p1draw {
  z-index: 4;
  top: 465px;
  right: 263px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.25em;
}

#p1carddrawnbox, #p2carddrawnbox {
  float: left;
}

